{% extends 'product_finder/base.html' %}
{% load static %}
{% block title %} Create a Request {% endblock %}
{% block body_block %}
		<h2>Create a Request <br/>
			<a href="{{ goback }}" class="btn btn-info" role="button"> Go Back</a></h2>
		{% if user.is_authenticated %}
		<div class="well">
		Category : <b>{{ category_type }}</b> <br/> <br/>
        <form id="request_form" method="post" action="/product_finder/category/{{ category_type_url }}/add_request/">
  <a class="pull-left">
    <img class="media-object" style="padding-right:15px"src="{% static "item.png" %}">
  </a>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
              
                {{ field.help_text }}
				{% if  field.field.required  %}
                {{ field }}   <span class="badge badge-important"> * {{ field.errors }}</span>
				{% else %}
				{{ field }}
				{% endif %}
				<br />
					<br />
            {% endfor %}
			<br />
            <input type="submit" name="submit" value="Post request" class="btn btn-warning" />
        </form>
		 {% else %}
                  Unable to do this while not being logged in.
        {% endif %}
		</div>
{% endblock %}