<!DOCTYPE html>
<html>
    <head>
        <title>Product Finder: Create a Request</title>
    </head>

    <body>
		{% if user.is_authenticated %}
                <a href="/product_finder/logout/">Logout</a>
		<br />
		<h1>{{ category_type }} Request Page</h1>

        <form id="request_form" method="post" action="/product_finder/category/{{ category_type_url }}/add_request/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
				<br />
            {% endfor %}

            <input type="submit" name="submit" value="Submit request" />
        </form>
		    {% else %}
                    <a href="/product_finder/register/">Register</a><br/>
                    <a href="/product_finder/login/">Login</a>
            {% endif %}
		<br />
		<br />
		
     <a href='/product_finder/'>Go to Homepage</a>
    </body>

</html>