{% extends 'product_finder/base.html' %}

{% block title %} Category : {{ category_type }}{% endblock %}

	
{% block body_block %}
		
		<h3> Category : {{ category_type }}	<br/>
        {% if category %}
		{% if user.is_authenticated %}
		<a href="/product_finder/category/{{ category_type_url }}/add_request/" class="btn btn-warning btn-lg"><i class="icon-list-alt"></i> Create a Request</a>
		{% endif %}
	
			<a href="/product_finder/" class="btn btn-info" role="button"> Go Back</a>
		 </h3>
		<div class="well">
            {% if requests %}
                {% for request in requests %}
                <a href="{{ request.url }}" class="list-group-item btn">Looking for <b>{{ request.product_quantity }}</b> x <b>{{ request.product_brand }} {{ request.product_name }}</b></a><br/>
                {% endfor %}
            {% else %}
                <strong>No requests currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_type }} does not exist!
        {% endif %}
		</div>
{% endblock %}
