<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Product Finder</title>
    </head>

    <body>
		 <img src="{% static "logo_small.png" %}" alt="Website logo" /><br />
		  <h2>Welcome to Product Finder</h2><br />
		  
		  <h3>Categories</h3>
			{% if categories %}
				<ul>
					{% for category in categories %}
						<li><a href="/product_finder/category/{{ category.url }}">{{ category.type }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
            <strong>There are no categories present.</strong>
			{% endif %}
		  		  
    </body>

</html>