{% extends 'product_finder/base.html' %}
{% block title %} Home {% endblock %}
{% block body_block %}
{% load static %}
	
		<!--<img src="{% static "logo_small.png" %}" alt="Website logo" /><br /> -->
		 
		  <div class="well">
            {% if user.is_authenticated %}
           <span class="label label-success">Welcome back <b>{{ user.username }}</b>!</span> 
            {% endif %}
		  <h3><b>Categories</b></h3>
		  
			{% if categories %}
			<div class="btn-group btn-group-vertical btn-block">
					{% for category in categories %}
					<a href="/product_finder/category/{{ category.url }}" class="btn btn-primary" role="button">{{ category.type }}</a>
					{% endfor %}
			</div>
			{% else %}
            <strong>There are no categories present.</strong>
			{% endif %}
			
			</div>

{% endblock %}
