{% extends 'product_finder/base.html' %}
{% block title %} Index {% endblock %}
{% block body_block %}
{% load static %}
		 <img src="{% static "logo_small.png" %}" alt="Website logo" /><br />
		  <h2>Product Finder</h2><br />

            {% if user.is_authenticated %}
                Welcome back {{ user.username }}!<br />
            {% endif %}


		  <h3>Categories</h3>
			{% if categories %}
				<ul>
					{% for category in categories %}
						<li><a href="/product_finder/category/{{ category.url }}">{{ category.type }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
            <strong>There are no categories present.</strong>
			{% endif %}

{% endblock %}
