{% extends 'product_finder/base.html' %}
{% block title %}Log - In{% endblock %}
{% block body_block %}
    <body>
        <h3>Login to Product Finder</h3>
		<div class="well">
        <form id="login_form" method="post" action="/product_finder/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
		</div>

{% endblock %}