{% extends 'product_finder/base.html' %}
{% block title %} Profile {% endblock %}
{% load static %}

{% block body_block %}
<body>
    <h3>
     {{user.username}}'s Profile <br/>
		<a href="/product_finder/" class="btn btn-info" role="button"><i class="icon-white icon-chevron-left"></i> Go Back</a>
    </h3>
    <div class="well">
	<div class="container-fluid">
	 <a class="pull-left">
        <img class="img-circle" style="height:120px;width:100px; padding-right:15px;" src="{% static "user_big.png" %}"></a>
        <br/>
		<div class="container">
		 <span class="label label-info">Name:</span> <span class="badge">{{user.username}}</span><br/>
		  <span class="label label-info">City:</span> <span class="badge">{{city}}</span><br/>
		  <span class="label label-info">Country:</span> <span class="badge">{{country}}</span><br/>
        <span class="label label-inverse">Requests:</span> <span class="badge">20</span><br/>
		     <span class="label label-success">Helpful responses:</span>  <span class="badge">10</span></a></li><br/><br/></div>
			 </div>
			 <div class="container-fluid">
			 &nbsp;&nbsp;&nbsp;&nbsp;<b>Ranking</b><br/>
			 &nbsp; <span class="badge badge-important">Superstar</span><br/>
			 &nbsp;&nbsp;&nbsp;&nbsp;<b>Reputation
		 &nbsp;   <img class="media-object" style="height:20px;width:100px;" src="{% static "ranking.png" %}">
		    &nbsp;&nbsp;&nbsp;&nbsp;<b>Badges</b><br/>
			 <span class="label label-warning">* First helpful response *</span>,<span class="label label-warning">* 10 requests *</span>,<span class="label label-warning">* 10 helpful responses *</span>
			 
   </div>
   
    </div>
	

{% endblock %}
