{% extends 'product_finder/base.html' %}
{%load static%}
{% block title %}Register{% endblock %}
{% block body_block %}
        <h3>Register</h3>
	<iframe style="background: grey url({% static "patterns/congruent_pentagon.png"%});background-repeat:repeat;" width="100%" height="150" frameborder="0"></iframe>
		
        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/product_finder/">Return to the homepage.</a><br />
        {% else %}
		<div class="well">
        <strong>Please fill out all fields</strong><br />

        <form id="user_form" method="post" action="/product_finder/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }} 
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" class="btn btn-primary btn-large" />
        </form>
        {% endif %}
		</div>
{% endblock %}
