{% extends 'product_finder/base.html' %}
{% load comments %}

{% block title %} Request {% endblock %}


{% block body_block %}

		<h3> {{ brand }} {{ name }} Request Page  <br/>
			<a href="{{ goback }}" class="btn btn-primary" role="button"> Go Back</a>	
		</h3>
		<div class="well">

		<br/>
		<p><b>{{ requester }}</b> is looking for this product :<br /></p>

		<span class="label label-info" style="margin-left:10px">Name : {{ name }}</span><br />
		<span class="label label-info" style="margin-left:10px">Brand : {{ brand }}</span><br />
		<span class="label label-inverse" style="margin-left:10px">Quantity : {{ quantity }}</span><br />
		<br />
		Available at:<br/>
		{% if local %}
		<span class="label label-success" style="margin-left:10px">+ Local stores</span>
		{% else %}
		<span class="label label-important" style="margin-left:10px">- Local stores</span>
		{% endif %}
		{% if online %}
		<span class="label label-success" style="margin-left:10px">+ On-line stores</span>
		{% else %}
		<span class="label label-important" style="margin-left:10px">- On-line stores</span>
		{% endif %}
        <br/>
        <br/>

        {% get_comment_count for request as comment_count%}
        Comments <span class="badge">{{ comment_count }}</span> :<br/>


        <ul style="list-style-type: none;">
            {% get_comment_list for request as comment_list %}
            {% for comment in comment_list %}
            <li>
                {{comment.user_name}} <span class="label label-default">{{comment.submit_date}}</span> :<br/>
                {{comment.comment}}
            </li>
            <hr>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        {% get_comment_form for request as form %}
        Add a comment
        <form action="{% comment_form_target %}" method="POST">
            <div class="input-group">

            {% csrf_token %}
            {{ form.comment }}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            </div>
            <input type="hidden" name="next" value="{{url}}" />
            <input type="submit" value="Add comment" id="id_submit" />
        </form>
        {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
        {% endif %}

	</div>
{% endblock %}
