<!DOCTYPE html>
<html>
    <head>
        <title>Product Finder: Request</title>
    </head>

    <body>
		{% if user.is_authenticated %}
                <a href="/product_finder/logout/">Logout</a>
            {% else %}
                    <a href="/product_finder/register/">Register</a><br/>
                    <a href="/product_finder/login/">Login</a>
            {% endif %}
		<br />
        <h1>Request Page</h1>
		{{ requester }} is looking for :<br />
		<br />
		Name : {{ name }}<br />
		Brand : {{ brand }}<br />
		Quantity : {{ quantity }}<br />
		<br />
		Local stores : {{ local }}
		<br />
		On-line stores: {{ online }}
		<br />
		<br />
     <a href='/product_finder/'>Go to Homepage</a>
    </body>

</html>